<div class="card mb-2">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <h3>Select Category</h3>
                <form class="form-inline">
                    
                    <select Name="Name_of_list_box" Size="Number_of_options">
                        <option> NGO/Charities</option>
                        <option> Health & Care </option>
                        <option> Educational </option>
                        <option> Other Causes </option>
                    </select>
                </form>
            </div>

            <div class="col-sm-8">
                <div class="text-sm-right">
                    <button type="button" class="btn btn-success" data-toggle="modal"
                        data-target="#custom-modal"> Submit</button>
                </div>
            </div><!-- end col-->
        </div>
    </div> <!-- end card-body-->
</div> <!-- end card-->
<app-post></app-post>